
body,a,#click{

color:#C1B054;
font-family:Arial;
background-color:#191919;

}

#contents{

margin-bottom:40px;

}


#c{

display:inline;
margin:40px;


}

h3,h4{

color:#181818;
background-color:#FFDF00;
}

h1{

color:#FFDF00;
margin-left:15px;

}


.partone,.partthree,.parttwo{

padding:10px;

}


#img{

margin:14px;

border:2px solid #C1B054;

margin-top:6px;

}

#ed{

border:2px solid #C1B054;
padding:3px;
margin-bottom:2px;


}




